
/* define color theme */
:root {
    --primary-color: rgba(12, 69, 102, 0.884);
    --secondary-color: yellow;
    --tertiary-color: rgb(0, 217, 255);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header Nav Bar Styles  Start */

header {
    padding: 20px 30px;
    background-color: rgba(60, 66, 66, 0.849);
    display: flex;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    flex-wrap: wrap;
}

header h1 {
    /* margin: 0; */
    font-weight: bold;
    font-size: 40px;
    color: var(--primary-color);
    background-color: turquoise;
    display: inline-flex;
}

header nav {
    float: right;
    /* margin: 20px 0; */
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    text-decoration: none;
    border-bottom: 3px solid;
    color: turquoise;
  }

/* Header style end */

/*Hero section */
.hero {
    background-image: url('../images/IMG_4907.PNG');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:right;
}

.hero-box {
    margin-top: 7%;
    text-align:end;  
}

.hero-box h2 {
    font-size:40px;
    color: var(--primary-color);
    background-color: turquoise;
    /* padding: 50px;; */
    margin-bottom: 10px;
    margin-right: 20px;
}
/* Hero styles end */

/* About me section start */
/* SECTION TITLE STYLES START */

#about-me {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;

}
.section-title {
    background-color: rgb(200, 255, 0);
    display: flex;
    justify-content: right;
    flex: 0%;
    padding: 20px;
    border-right: 3px solid;
    height: 100%;
    color: var(--primary-color);
    font-size: 25px;
    font-family:fantasy;
    font-weight: bold;
    padding-top: 50px;
}

.intro-box  {
    background-color: rgb(0, 255, 55);
    padding: 20px;
    flex: 50%;
    height: 100%;
    font-family:fantasy;
}

.flex-container {
    display: flex;
    align-items: flex-end;
}
/* about me section ends */

/* set style for the Work container */
#work {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    margin-top: 20px;

}
.work-title {
    background-color: rgb(200, 255, 0);
    display: flex;
    justify-content: right;
    flex: 1;
    padding: 20px;
    border-right: 3px solid;
    height: 100%;
    color: var(--primary-color);
    font-size: 25px;
    font-family:fantasy;
    font-weight: bold;
    padding-top: 50px;
}
.work-boxright  {
    background-color: rgb(0, 255, 55);
    flex: 50%;
    display: flexbox;
    height: 100%;
    font-family:fantasy;
    border:3px red solid
}

.small-box {
    background-image: url('../images/IMG_4907.PNG');
    height: 200px;
    border: 3px red solid

}
.job-title0 {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    font-weight: bold;
    margin-right:80% ;
    margin-top: 150px;
    text-align: center;
}

