
/* define color theme */
:root {
    --primary-color: rgba(15, 27, 34, 0.884);
    --secondary-color: yellow;
    --tertiary-color: rgb(0, 217, 255);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header Nav Bar Styles  Start */

header {
    padding: 20px 30px;
    background-color: rgba(60, 66, 66, 0.849);
    display: flex;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    flex-wrap: wrap;
}

header h1 {
    margin: 0%;
    font-weight: bold;
    font-size: 40px;
    color: var(--primary-color);
    background-color: turquoise;
    display: inline-flex;
}

header nav {
    float: right;
    margin: 20px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
    border-bottom: 3px solid;
  }

/* Header style end */

/*Hero section */
.hero {
    background-image: url('../images/IMG_4907.PNG');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:right;
}

.hero-box {
    margin-top: 7%;
    text-align:end;  
}

.hero-box h2 {
    font-size:40px;
    color: var(--primary-color);
    background-color: turquoise;
}
/* Hero styles end */

/* About me section start */
/* SECTION TITLE STYLES START */
.section-title {
    font-size: 55px;
    color: var(--primary-color);
    border-right: 3px solid;
    padding-bottom: 20px;
    text-align:right;
    margin: 0 auto 10px auto;
    width: 50%;
  }


/* Utilities */
.flex-row {
    display: flex;
    align-items: flex-start;

}